/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/contact/reflection-animation.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.reflection-effect {
  transform: perspective(800px) rotateX(65deg) scaleY(-1) translateY(-100%);
  border: 1px solid gray;
  filter: blur(2px);
  opacity: 0.8;
  mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, transparent 80%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, transparent 80%);
  transform-origin: top center;
  pointer-events: none;
}

